$black: #323232;
$instock-blue: #004892;
$brainflix-blue: #0095ff;
$white: #ffffff;
$silver: #afafaf;
$instock-blue-dark: #002f5f;
$brainflix-blue-dark: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
