@font-face {
  font-family: "avenir";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "avenir-thin";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Thin.otf");
}
@font-face {
  font-family: "avenir-light";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Light.otf");
}
@font-face {
  font-family: "avenir-med";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Medium.otf");
}
@font-face {
  font-family: "avenir-demi";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "avenir-bold";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "avenir-bolder";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Heavy.otf");
}

/* Mobile (small) fonts */

@mixin mobile-header {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-family: "avenir-bold";
}

@mixin mobile-subheader {
  font-size: 0.875rem; /* 14px */
  line-height: 1.375rem; /* 22px */
  font-family: "avenir-demi";
}

@mixin mobile-paragraph-lists {
  font-size: 0.812rem; /* 13px */
  line-height: 1.125rem; /* 18px */
}

@mixin labels1 {
  //same size for mobile and desktop
  font-size: 0.75rem; /* 12px */
  line-height: 1.25rem; /* 20px */
  font-family: "avenir-demi";
  text-transform: uppercase;
}

/* Desktop and tablet (medium and huge) fonts */

@mixin dt-hero-header {
  font-size: 3.75rem; /* 60px */
  line-height: 4.25rem; /* 68px */
  font-family: "avenir-bold";
}

@mixin dt-header-h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  font-family: "avenir-bold";
}

@mixin dt-header-h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-family: "avenir-bold";
}

@mixin dt-subheader {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-family: "avenir-demi";
}

@mixin dt-paragraph {
  font-size: 0.875rem; /* 14px */
  line-height: 1.375rem; /* 22px */
}

@mixin dt-lists {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
