@font-face {
  font-family: "poppins";
  src: url("../assets/GlobalFont/Poppins/Poppins-Bold.ttf");
}

@mixin form-text-small {
  font-size: 28px;
  line-height: 42px;
  font-family: "poppins";
}

@mixin form-text-large {
  font-size: 40px; /* 14px */
  line-height: 60px; /* 22px */
  font-family: "poppins";
}
