@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/typography";
@import "./partials/header";
@import "./partials/forms";
@import "./partials/result";

body {
  font-family: "avenir";
  box-sizing: border-box;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
