@font-face {
  font-family: "avenir";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-thin";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Thin.otf");
}

@font-face {
  font-family: "avenir-light";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: "avenir-med";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "avenir-bolder";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Heavy.otf");
}

/* Mobile (small) fonts */
/* Desktop and tablet (medium and huge) fonts */
a {
  text-decoration: none;
  color: black;
}

.header {
  padding: 0 5rem;
  height: 180px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "avenir-demi";
  font-size: 1.5rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.form__select {
  width: 308px;
  height: 48px;
}

.result {
  background-color: #def3f8;
}

.result__info {
  padding: 100px 200px;
}

.result__data {
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result__chart {
  width: 100%;
}

.result__chart iframe {
  width: 100%;
}

.result__first {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.result__second {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.result__third {
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result__spanWrap {
  height: 20px;
  width: 100%;
}

.result__span1 {
  padding: 0.2rem 1rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 40px;
  height: 100%;
  background-color: orange;
}

.result__span2 {
  padding: 0.2rem 1rem;
  width: 40px;
  height: 100%;
  background-color: green;
}

.result__span3 {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.2rem 1rem;
  width: 40px;
  height: 100%;
  background-color: red;
}

body {
  font-family: "avenir";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=index.css.map */